.mainmenu {
    box-sizing: border-box;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    width: 50%;
    z-index: 999;
    text-align: middle;
    margin: auto;
  }


#nav th {
    background: rgb(250, 246, 246);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-style: groove;
    position: middle;
  }
body {
    background-color: rgb(226, 243, 238);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 25px;
    vertical-align: left;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin: auto;
    text-align: justify;
    text-align-last: left;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-size: 80px;
    padding-top: 100p;
    font-family: georgia;
    position: relative;
}


h3{
    color: black;
    font-size: 40px ;
}

h4{
    text-decoration: underline;
    color: rgb(76, 92, 30);
    font-weight: normal;
    font-size: 35px;
    margin-bottom:0;
}

li{
    margin-top: 0;
}

.img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 30px 20px
  }


