head {
    text-align: center;
}

.mainmenu {
    box-sizing: border-box;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    width: 100%;
    z-index: 999;
    text-align: middle;
    margin: auto;
  }


#nav th {
    background: rgb(250, 246, 246);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-style: groove;
    position: middle;
  }
body {
    background-color: rgb(226, 243, 238);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    vertical-align: left;
    width: 70%;

    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    margin: auto;
    text-align: justify;
    text-align-last: left;

}

h1{
    font-size: 80px;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h4{
    text-decoration: underline;
    color: rgb(76, 92, 30);
    font-size: 70px;
    margin-bottom:0;
}

li{
    margin-top: 0;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 30px 20px;
  }

